/* ============================
    Default Theme
    ---------------------------
    Fonts: Raleway & Open Sans
    ---------------------------
    Colors:
        Moon Yellow:         #a5b4ff
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000
=============================== */

/* ============================
    Html, Body
    --------------------------- */
html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

/* ============================
    Preloader
    --------------------------- */
#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/* ============================
    Home
    --------------------------- */
#home {
    background: none;
    height: 100%;
}
#web-logo{
    padding: 0;
}
#hero-image {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-inner-content {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #a5b4ff;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/* ============================
    Buttons
    --------------------------- */
.btn-general {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 10px 42px 10px 42px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background: #a5b4ff;
    border: 1px solid #a5b4ff;
}

.btn-yellow {
    background: #a5b4ff;
    color: #fff;
    border: 1px solid #a5b4ff;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background: #212226;
    border: 1px solid #212226;
}

.btn-white {
    background: #a5b4ff;
    color: #fff;
    border: 1px solid #a5b4ff;
}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background: #212226;
    border: 1px solid #212226;
}

/* ============================
    Arrow Down
    --------------------------- */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 32px;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #a5b4ff;
}

/* ============================
    Content Boxes
    --------------------------- */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}

/* ============================
    Headings
    --------------------------- */
.vertical-heading h5 {
    color: #a5b4ff;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    top: 60px;
    left: -63px;
    font-weight: 500;
    font-size: 17px;
    word-spacing: 6px;
    text-transform: uppercase;
}

.horizontal-heading {
    margin-bottom: 60px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-weight: 100;
    line-height: 45px;
    font-size: 42px;
}

.horizontal-heading {
    margin-bottom: 60px;
}

.horizontal-heading h5 {
    color: #a5b4ff;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    font-weight: 100;
    line-height: 45px;
    font-size: 42px;
    margin: 0;
}










/* ============================
    About 01
    --------------------------- */
#about-right p:first-child {
    margin-bottom: 20px;
}

#about-bottom {
    margin-top: 20px;
}

#about-bottom img {
    margin: 0 auto;
}

/* ============================
    About 02
    --------------------------- */

#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #a5b4ff;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}
#about-left{
   margin-top: -30px
}
#about-right a{
    text-decoration: none;
}
/* Hover state */
.about-item:hover {
    background-color: #a5b4ff;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover i {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

/* ============================
    Team 01
    --------------------------- */
#team-left .vertical-heading {
    min-height: 160px;
}

.team-member {
    margin: 8px;
    position: relative;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: #a5b4ff;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

/* ============================
    Social Icons
    --------------------------- */
ul.social-list {
    margin-top: 30px;
    padding: 0;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border: none;

}

ul.social-list li:nth-child(2) a:hover {
    background: #00aced;
    border: none;
}

ul.social-list li:nth-child(3) a:hover {
    background: #dd4b39;
    border: none;
}

/* ============================
    Slide Buttons
    --------------------------- */

.owl-theme .owl-nav [class*=owl-] {
    color: #212226;
    background: none;
    font-size: 40px;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #212226;
}

/* ============================
    Skils
    --------------------------- */
.skill {
    margin-bottom: 20px;
}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-size: normal;
}

.progress {
    background: #efefef;
    height: 25px;
    border-radius: 8px;
    overflow: visible;
}

.progress-bar {
    background-color: #a5b4ff;
    position: relative;
}

.progress-bar span {
    font-size: 14px;
    font-weight: 300;
    font-family: "open Sans"sans-serif;
    background-color: #212226;
    padding: 3px;
    position: absolute;
    left: 97%;
    top: -47px;
}

.progress-bar span:before {
    content: "";
    border-top: 8px solid #212226;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;

}

/* ============================
    Statement
    --------------------------- */
#statement {
    background: url(../img/tech/tech-quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* You can style the background image in just one single line e.g
    background: url(../img/tech/tech-quote.jpg) no-repeat fixed cover center; */
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
}

#statement h3 {
    color: #fff;
    font-size: 19px;
    line-height: 45px;
    position: relative;
}

#statement p {
    color: #a5b4ff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}

/*.statement-carousel h3 i.fa-quote-left{
    position: absolute;
    left: 0;
    top: -10px;
    
}
.statement-carousel h3 i.fa-quote-right{
    position: absolute;
    bottom: -5px;
}
/* ============================
    Services 01 Responsive Tabs
    --------------------------- */
#service-01 img {
    margin: 60px 0;
}

.service {
    margin: 35px 0;
}

.service .icon {
    font-size: 42px;
    margin: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.service:hover .icon {
    color: #a5b4ff;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.service h5 {
    font-size: 12px;
    color: #a5b4ff;
    text-transform: uppercase;
    margin: 0 0 6px 0;
}

.service:hover h5 {
    color: #212226;
}

.service h4 {
    margin: 0 0 8px 0;
    font-size: 24px;
}

.service p {
    line-height: normal;
}

/* ============================
    Services 02 Responsive Tabs
    --------------------------- */
#service-02 {
    background-color: #f4f4f4;
}

#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
    text-transform: uppercase;
}

#services-tabs ul li a {
    text-decoration: none;
    color: #212226;
    font-family: "Raleway". sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

#services-tabs ul li.r-tabs-state-active a {
    color: #a5b4ff;
    border-bottom: 3px solid #a5b4ff;
    padding-bottom: 3px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: border-bottom 300ms linear;
    transition: border-bottom 300ms linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg {
    background: #fff;
    padding: 59px 48px;
    min-height: 481px;
}

.service-tab h2 {
    color: #bbb;
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 20px;
}

.service-tab h3 {
    margin-bottom: 20px;
    font-size: 32px;
}

.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}

/* ============================
    Portfolio
    --------------------------- */
#portfolio .vertical-heading {
    margin-bottom: 50px;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

#isotope-filter {
    margin-bottom: 10px;
    padding: 25px 20px 25px 0;
}

#isotope-filter button {
    font-size: 12px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    text-transform: uppercase;
    font-family: "Raleway"sans-serif;
    padding-right: 35px;
    outline: 0;
}

#isotope-filter button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotope-filter button.active span {
    color: #a5b4ff;
    border-bottom: 3px solid #a5b4ff;
}

/* Zoom Effect*/
#portfolio {
    padding-bottom: 135px
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    width: 100% height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;

}

.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    opacity: 0;
}

.portfolio-item-details {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #a5b4ff;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    -webkit-transition: all .8s;
    transition: all .8s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 30px;
    height: 6px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all .8s;
    transition: all .8s;
}

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
    -webkit-transition: all .8s;
    transition: all .8s ease;
}

/* ============================
    Testimonials
    --------------------------- */
#testimonials {
    background-color: #f4f4f4;
    overflow: visible;
    padding-bottom: 45px
}

#testimonials .vertical-heading {
    margin: 80px 0;
}

#testimonial-slider {
    background-color: #a5b4ff;
    top: -120px;
}

.testimonial {
    padding: 25px 45px 0 45px;
    color: #fff;
    padding-bottom: 45px;
}

.testimonial .row {
    margin-bottom: 25px;
}

.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonial .star-reviews {
    font-size: 20px;
    padding: 20px 0 10px 0;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.author .author-name {
    width: 106px;
    margin-top: 25px;
    text-align: left;
}

.author .author-name p {
    margin: 0;
}
#testimonial-slider .owl-nav .fa-angle-right {
    color: #f4f4f4;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

#testimonial-slider .owl-nav:hover .fa-angle-right {
    color: #f4f4f4;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);

}

#testimonial-slider .owl-nav .fa-angle-left {
    color: #f4f4f4;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

#testimonial-slider .owl-nav:hover .fa-angle-left {
    color: #f4f4f4;
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);

}

/* ============================
    Pricing Tables
    --------------------------- */

.pricing-tables {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 32px 21px;
    border-radius: 6px;
    transition: all 350ms linear;
}

.pricing-tables:hover {
    background: #a5b4ff;
}

.pricing-tables .type h4 {
    color: #a5b4ff;
    margin-bottom: 24px;
    font-size: 24px;
}

.pricing-tables .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}

.price h2 {
    font-family: "Open-sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 24px;
    position: relative;
}

.price h2 span {
    font-family: "Raleway", sans-serif;
}

.price h2 span.dollar {
    position: absolute;
    left: -20px;
    top: 5px;
    font-size: 18px;
    font-weight: 300;

}

.price h2 span.month {
    position: absolute;
    left: 5px;
    bottom: -15px;
    font-size: 12px;
    font-weight: 400;

}

.price p {
    line-height: normal;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

.pricing-tables:hover h4,
.pricing-tables:hover h2,
.pricing-tables:hover p,
.pricing-tables:hover ul.package {
    color: #fff;
}

.pricing-tables ul.package {
    list-style: none;
    padding: 20px 0;
}

.pricing-tables ul.package li {
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.pricing-tables ul.package li i {
    width: 24px;
}

.pricing-tables .btn-yellow {
    width: 96%;
}

.pricing-tables:hover .btn-yellow {
    width: 100%;
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-tables .btn-yellow:hover,
.pricing-tables .btn-yellow:focus {
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}

/* Black Pricing Tables */
.pricing-tables.black {
    background-color: #212226;
    color: #fff;
}

.pricing-tables.black .type h4 {
    color: #fff;
}

.pricing-tables .btn-white {
    width: 96%;
}

.pricing-tables.black:hover,
.pricing-tables .btn-white:focus {
    background: #a5b4ff;
    color: #fff;
}

.pricing-tables:hover .btn-white {
    width: 100%;
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-tables .btn-white:hover {
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}

/* ============================
    Stats
    --------------------------- */
#stats {
    background: url(../img/stats/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#stats .content-box-md {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
}

#stats .vertical-heading {
    margin-bottom: 42px;
    padding: 0;
}

#stats .vertical-heading h2 {
    color: #fff;
    font-weight:
}

.stats .individual-stat {
    padding: 25px 50px;
    background: rgba(61, 68, 68, 0.6);
    border-radius: 4px;
    min-height: 170px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.stats .individual-stat i {
    font-size: 42px;
    color: #a5b4ff;
    margin: 0 0 6px 0;
    -webkit-transition: -webkit-transform 700ms ease;
    transition: -webkit-transform 700ms ease;
    transition: transform 700ms ease;
    transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.stats .individual-stat h2 {
    color: #fff;
    font-size: 32px;
    margin: 5px 0 5px 0;
}

.stats .individual-stat p {
    color: #fff;
    margin: 0;
}

.stats .individual-stat:hover {
    background: #a5b4ff;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0.7;
}

.stats .individual-stat:hover i {
    color: #fff;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

/* ============================
    Clients
    --------------------------- */
#client .horizontal-heading{
    margin-bottom: 30px;
}
#client-slide{
    padding: 45px 0 0 0;
}
#client-slide .client{
    padding: 0 10px;
    max-width: 150px;
    margin: 0 auto;
    line-height: 100px;
}
.client img{
    display: inline-block !important;
}

/* ============================
    blog
    --------------------------- */

#blog{
    background: #f4f4f4;
}
#blog-left p{
    margin: 25px 0;
}
#blog-btn a{
    margin: 0;
}
.blog-post{
    background: #fff;
    padding: 20px;
     -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.blog-post h4{
    margin: 0;
    line-height: 40px;
}
.blog-post > p{
    line-height: 24px;
    margin: 0;
    font-weight: 400;
}
.blog-post a{
    display: inline-block;
    margin: 10px 0;
    text-transform:uppercase;
    font-family: "Raleway", sans-serif;
    color: #a5b4ff;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    
}
.blog-post a:hover{
    color: #212226;
    transition: all 350ms;
}

.blog-post .post-meta-tags{
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding-top: 10px
}

.blog-post .post-meta-tags p{
    font-size: 14px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-weight: 500;
}

#contact-left p{
    margin: 25px 0 20px 0;
    padding: 0;
}
ul.office-details{
    list-style: none;
    padding: 0;
}
ul.office-details li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    font-family: "Open Sans", sans-serif;
}
ul.office-details li i{
    width: 30px;
    font-size: 20px;
}
ul.office-details li:hover i{
    color: #a5b4ff;
    transition: all 300ms linear;
}
#contact-left ul.social-list li a{
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}
#contact-left ul.social-list li a:hover{
    border: transparent;
    
}

#contact-right{
    background: #fff;
    padding: 20px;
     -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

#contact-right h4{
    font-size: 24px;
}

#contact-right p{
    margin-bottom: 25px;
}


#contact-right .form-control{
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
}

#contact-right textarea.form-control{
    min-height: 164px;
    min-width: 150px
}

/* ============================
    Google map
    --------------------------- */

#map{
    height: 600px;
}

/* ============================
    Footer
    --------------------------- */
footer{
    background: #212226;
    padding: 20px;
}
footer p{
    line-height: 20px;
    color: #fff;
}

footer p span {
    color: #a5b4ff;
}
/* ============================
    Header
    --------------------------- */
.navbar{
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper{
    padding: 0 85px;
}

.navbar-brand{
    padding: 13px 15px;
}

ul.navbar-nav >li >a{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
}

ul.navbar-nav >li >a:hover,
ul.navbar-nav >li >a:focus{
    color: #a5b4ff;
    background: none;
}
/* White Navigation */
.white-nav-top{
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.white-nav-top ul.navbar-nav >li >a{
    color: #212226;
}

.white-nav-top ul.navbar-nav >li >a:hover,
.white-nav-top ul.navbar-nav >li >a:focus{
    color: #a5b4ff;
}

.white-nav-top ul.navbar-nav >li.active >a{
    color: #a5b4ff;
}













